﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Bristol.aspx.cs" Inherits="SiteMapWebApplication.Bristol" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>UK</h1>
    <p>Bristol Office Page!</p>
</asp:Content>
