﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="London.aspx.cs" Inherits="SiteMapWebApplication.London" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>UK</h1>
    <p>London Office Page!</p>
</asp:Content>
