﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Manchester.aspx.cs" Inherits="SiteMapWebApplication.Manchester" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>UK</h1>
    <p>Manchester Office Page!</p>
</asp:Content>
