﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Plovdiv.aspx.cs" Inherits="SiteMapWebApplication.Plovdiv" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Bulgaria</h1>
    <p>Plovdiv Office Page!</p>
</asp:Content>
