﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Sofia.aspx.cs" Inherits="SiteMapWebApplication.Sofia" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Bulgaria</h1>
    <p>Sofia Office Page!</p>
</asp:Content>
