﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Varna.aspx.cs" Inherits="SiteMapWebApplication.Varna" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Bulgaria</h1>
    <p>Varna Office Page!</p>
</asp:Content>
