﻿body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}

#container{
    border: 3px solid red;
    padding: 15px;
    display: inline-block;
}
