﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AdditionalInfo.aspx.cs" Inherits="_01.UserProfileWebApplication.AdditionalInfo" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <h1>Additional info</h1>
    <div> 
        <span class="info">Work: </span>
        <span class="result">Telerik</span>
    </div>
    <div> 
        <span class="info">Position: </span>
        <span class="result">Treiner</span>
    </div>
    <div> 
        <span class="info">Religion: </span>
        <span class="result">Not defined.</span>
    </div>
</asp:Content>
