﻿    <%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Friends.aspx.cs" Inherits="_01.UserProfileWebApplication.Friends" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <h1>Friends</h1>
    <p>Here will be desplayed your friends.</p>
</asp:Content>
