﻿body {
}
.info {
    background-color:red;
    width:100px;
    display:inline-block;
    margin:1px;
}

.result{
    font-weight:bold;
    color:blue;
    width:100px;
}

#menu{
    padding-left: 0px;
}
#menu ul {
    list-style-type: none;
    background-color: red;
    height: 50px;
    width: 100%;
    margin: auto;
    padding:0;
}

#menu li {
    float: left;
}

#menu ul li a {
    clear:both;
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    color: #371C1C;
}

#menu ul li a:hover {
color: #FFF;
}

