﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GraphicalWebCounter.aspx.cs" Inherits="_05.ImageCounter.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="mainForm" runat="server">
    </form>
</body>
</html>