﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Contacts.aspx.cs" Inherits="SiteMapWebApplication.Contacts" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Contacts</h1>
    <p>Welcome to contacts page.</p>
</asp:Content>
