﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" 
    CodeBehind="Home.aspx.cs" Inherits="SiteMapWebApplication.Home" %>

<asp:Content ID="ContentMain" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Welcome</h1>
    <p>Welcome to our ultra mega Web site.</p>
</asp:Content>
