﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PrintBrowserAndIPAddress.aspx.cs" Inherits="_01.PrintBrowserAndIPAddressWebApplication.PrintBrowserAndIPAddress" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="formMain" runat="server">
        <asp:Literal ID="LiteralOutput" runat="server" />
    </form>
</body>
</html>
