﻿#DataPagerEmployees {
    display: block;
    padding-top: 25px;
}

#DataPagerEmployees * {
    margin: 10px 10px 10px 0px;
    padding: 5px 15px 5px 15px;
    background: #eee;
    border: #aaaaaa dotted 1px;
}
