﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" 
    AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="_01.UserProfileWebApplication.Home" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <h1>Home</h1>
    <p>Welcome to our great web site!</p>
</asp:Content>
